<a href="https://colab.research.google.com/github/LuizQuinelato96/Coursera_Capstone/blob/master/Final_project_getting_data_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Import libraries

In [ ]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

/bin/bash: conda: command not found
/bin/bash: conda: command not found
Folium installed
Libraries imported.

## Credentials

In [ ]:
CLIENT_ID = 'MESKSCRJYRPZ0SRI1YQWEV0AHFIMEV0THHQ0J0DQSUPXMEGQ' # your Foursquare ID
CLIENT_SECRET = 'VCU0HKNZ0XAKDMSXTG5PG1AKUYOUUSG4SO45A3AAWEWGTDQT' # your Foursquare Secret
VERSION = '20200803'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: MESKSCRJYRPZ0SRI1YQWEV0AHFIMEV0THHQ0J0DQSUPXMEGQ
CLIENT_SECRET:VCU0HKNZ0XAKDMSXTG5PG1AKUYOUUSG4SO45A3AAWEWGTDQT

## Get Data
Here we're going to get data about some most popular venues around Paris. To make sure that we got differents venues I choosed some specifics places to startpoint

### Get places around 6º arr., França

In [ ]:
address = '16º arr., França'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

radius = 4000
url = 'https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&ll={},{}&v={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, radius, LIMIT)
import requests
results = requests.get(url).json()
'There are {} around Paris with radius equal to {}m'.format(len(results['response']['groups'][0]['items']),radius)

items = results['response']['groups'][0]['items']

dataframe = json_normalize(items) # flatten JSON

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']
# filter columns
filtered_columns = ['venue.name', 'venue.categories'] + [col for col in dataframe.columns if col.startswith('venue.location.')] + ['venue.id']
dataframe_filtered = dataframe.loc[:, filtered_columns]

# filter the category for each row
dataframe_filtered['venue.categories'] = dataframe_filtered.apply(get_category_type, axis=1)

# clean columns
dataframe_filtered.columns = [col.split('.')[-1] for col in dataframe_filtered.columns]

data1 = dataframe_filtered[['name',	'categories',	'address',	'lat',	'lng']]

48.8870221 2.3478318

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

### Get data from 20º arr.,França

In [ ]:
address = '20º arr.,França'
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

radius = 4000
url = 'https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&ll={},{}&v={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, radius, LIMIT)

import requests
results = requests.get(url).json()
'There are {} around Paris with radius equal to {}m'.format(len(results['response']['groups'][0]['items']),radius)

items = results['response']['groups'][0]['items']


dataframe = json_normalize(items) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories'] + [col for col in dataframe.columns if col.startswith('venue.location.')] + ['venue.id']
dataframe_filtered = dataframe.loc[:, filtered_columns]

# filter the category for each row
dataframe_filtered['venue.categories'] = dataframe_filtered.apply(get_category_type, axis=1)

# clean columns
dataframe_filtered.columns = [col.split('.')[-1] for col in dataframe_filtered.columns]


data2 = dataframe_filtered[['name',	'categories',	'address',	'lat',	'lng']]
#data2

48.8870221 2.3478318

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

## Get data from 17º arrondissement de Paris

In [ ]:
address = '17º arrondissement de Paris'
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

radius = 4000
url = 'https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&ll={},{}&v={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, radius, LIMIT)
import requests
results = requests.get(url).json()
'There are {} around Paris with radius equal to {}m'.format(len(results['response']['groups'][0]['items']),radius)
items = results['response']['groups'][0]['items']

dataframe = json_normalize(items) # flatten JSON

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']
# filter columns
filtered_columns = ['venue.name', 'venue.categories'] + [col for col in dataframe.columns if col.startswith('venue.location.')] + ['venue.id']
dataframe_filtered = dataframe.loc[:, filtered_columns]

# filter the category for each row
dataframe_filtered['venue.categories'] = dataframe_filtered.apply(get_category_type, axis=1)

# clean columns
dataframe_filtered.columns = [col.split('.')[-1] for col in dataframe_filtered.columns]

dataframe_filtered.head(5)
data3 = dataframe_filtered[['name',	'categories',	'address',	'lat',	'lng']]

43.5685538 0.4776069

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  from ipykernel import kernelapp as app

                    name                  categories  ...        lat       lng
0              Créa'Bain  Construction & Landscaping  ...  43.553142  0.447015
1    LES SERRES DU CEDON  Construction & Landscaping  ...  43.576551  0.516636
2  BOTTALICO ESPACE VERT  Construction & Landscaping  ...  43.576629  0.520713
3     Chateau De Camille                  Restaurant  ...  43.574599  0.526075

[4 rows x 5 columns]

In [ ]:
address = '1.º arrondissement de Paris'
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

radius = 4000
url = 'https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&ll={},{}&v={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, radius, LIMIT)
import requests
results = requests.get(url).json()
'There are {} around Paris with radius equal to {}m'.format(len(results['response']['groups'][0]['items']),radius)
items = results['response']['groups'][0]['items']

dataframe = json_normalize(items) # flatten JSON

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']
# filter columns
filtered_columns = ['venue.name', 'venue.categories'] + [col for col in dataframe.columns if col.startswith('venue.location.')] + ['venue.id']
dataframe_filtered = dataframe.loc[:, filtered_columns]

# filter the category for each row
dataframe_filtered['venue.categories'] = dataframe_filtered.apply(get_category_type, axis=1)

# clean columns
dataframe_filtered.columns = [col.split('.')[-1] for col in dataframe_filtered.columns]

dataframe_filtered.head(5)
data4 = dataframe_filtered[['name',	'categories',	'address',	'lat',	'lng']]

48.8199323 2.3645735

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  from ipykernel import kernelapp as app

                                            name  ...       lng
0                                  New Hoa Khoan  ...  2.363337
1                                    Thieng Heng  ...  2.365195
2                                        Phở Tài  ...  2.361297
3                                       Dong Tam  ...  2.360813
4                                       Lao Viet  ...  2.374036
5                                      Coupi Bar  ...  2.370005
6                                    Le Prétexte  ...  2.363379
7                              Pho Bida Viet Nam  ...  2.368000
8                               La Goulette Zmen  ...  2.361441
9                                    Tang Frères  ...  2.365380
10                                      Sidi Bou  ...  2.359715
11                                    Thai Yim 2  ...  2.369163
12                                   Mondol Kiri  ...  2.358367
13                               Lao Douang Chan  ...  2.358349
14                              Caminito Cabaret  ...  2.374365
15                                       Tempero  ...  2.369423
16                                 Sésame et Sel  ...  2.361971
17                              MK2 Bibliothèque  ...  2.375887
18                             Studio Luna Rossa  ...  2.378550
19                                 Le Débonnaire  ...  2.374483
20                           Square René Le Gall  ...  2.349422
21                                   La Felicità  ...  2.372702
22                                    Les Frigos  ...  2.379262
23                               Parc Montsouris  ...  2.337840
24                             Bateau El Alamein  ...  2.377970
25  Parc de la Cité Internationale Universitaire  ...  2.337438
26                               Pizza Caravelle  ...  2.339242
27                                         Le KB  ...  2.362320
28                                     Store MK2  ...  2.375442
29                                   Au Bon Coin  ...  2.351800

[30 rows x 5 columns]

### Joining Data

In [ ]:
data = data1.append(data2).append(data3).append(data4).reset_index()
#data.drop_duplicates().shape
data

    index                                          name  ...        lat       lng
0       0                              Hardware Société  ...  48.886901  2.344463
1       1                                      Le Myrha  ...  48.886815  2.350892
2       2            Dôme de la Basilique du Sacré-Cœur  ...  48.886809  2.343006
3       3                                       Babalou  ...  48.886490  2.344063
4       4                Comestibles & Marchand de Vins  ...  48.891257  2.343750
..    ...                                           ...  ...        ...       ...
89     25  Parc de la Cité Internationale Universitaire  ...  48.818503  2.337438
90     26                               Pizza Caravelle  ...  48.826695  2.339242
91     27                                         Le KB  ...  48.808681  2.362320
92     28                                     Store MK2  ...  48.832397  2.375442
93     29                                   Au Bon Coin  ...  48.838120  2.351800

[94 rows x 6 columns]

### Frenquency of Categories

In [ ]:
data['categories'].value_counts()

French Restaurant                9
Italian Restaurant               8
Vietnamese Restaurant            5
Restaurant                       4
Vegetarian / Vegan Restaurant    4
Bakery                           4
Beer Bar                         4
Hotel                            4
Coffee Shop                      3
Park                             3
Construction & Landscaping       3
Wine Bar                         3
Bar                              2
Café                             2
Arepa Restaurant                 2
Scenic Lookout                   2
Deli / Bodega                    2
Plaza                            2
Cocktail Bar                     2
Japanese Restaurant              2
Burger Joint                     2
Mediterranean Restaurant         2
Corsican Restaurant              2
Taco Place                       2
Gastropub                        2
Breakfast Spot                   2
Supermarket                      1
Thai Restaurant                  1
Asian Restaurant                 1
Korean Restaurant                1
Performing Arts Venue            1
Multiplex                        1
Cambodian Restaurant             1
Brazilian Restaurant             1
Chinese Restaurant               1
Lounge                           1
Bookstore                        1
Recording Studio                 1
Name: categories, dtype: int64